/** default.css **/

@keyframes fadeUpAnim   {0% {opacity: 0;} 100% {opacity: 1;}}
@keyframes fadeDownAnim {0% {opacity: 1;} 100% {opacity: 0;}}
@keyframes focusAnim    {0% {filter:blur(10px);} 100% {filter:blur(0px);}}

:root {
  --accentColor:           var(--steelBlue);

  --fontFamily:            monaSans;
  --fontFamilyLight:       monaSansLight;
  --fontFamilyExtraLight:  monaSansExtraLight;

  --fontSize:              15px;
  --fontSizeSmall:         0.9rem;
  --fontSizeVerySmall:     0.8rem;

  --border:                solid 1px var(--grey200);
  --borderTransparent:     solid 1px transparent;
  --borderRadius:          5px;
  --bigBorderRadius:       10px;

  --grey250:               rgb(250, 250, 250);
  --grey220:               rgb(220, 220, 220);
  --grey200:               rgb(200, 200, 200);
  --grey150:               rgb(150, 150, 150);

  --extraExtraLightGreen:  rgb(240, 255, 240);
  --extraLightGreen:       rgb(200, 250, 200);
  --lightGreen:            rgb( 50, 190,  80);
  --green:                 rgb( 45, 145,  65);
  --mediumGreen:           rgb(  0, 100,   0);
  --darkGreen:             rgb(  0,  60,   0);

  --extraLightBlue:        rgb(240, 245, 255);
  --lightBlue:             rgb(155, 195, 255);
  --blue:                  rgb(  0,  90, 255);
  --blue1:                 rgb(110, 160, 255);
  --blue2:                 rgb( 75, 130, 220);
  --blue3:                 rgb( 50, 100, 200);
  --mediumBlue:            rgb( 35,  60, 245);
  --mediumBlue2:           rgb( 25,  85, 133);
  --darkBlue:              rgb(  0,   0, 225);
  --extraDarkBlue:         rgb(  0,  35, 130);

  --steelBlue:             rgb( 10, 100, 190);
  --blueGreen:             rgb(  0, 175, 225);

  --orange:                rgb(250, 150,   0);
  --lightOrange:           rgb(250, 200, 100);
  --extraLightOrange:      rgb(255, 235, 200);

  --darkYellow:            rgb(235, 235,  35);
  --lightYellow:           rgb(255, 255, 130);

  --boxShadow:             3px 3px 3px rgba(100, 100, 100, 0.4);
  --boxShadowHover:        7px 7px 5px rgba(100, 100, 100, 0.4);
  --boxShadowTransparent:  3px 3px 3px transparent;

  --textShadow:             3px 3px 3px rgba(100, 100, 100, 0.4);
  --textShadowHover:        7px 7px 5px rgba(100, 100, 100, 0.4);
  --textShadowTransparent:  3px 3px 3px transparent;
}

html {
  accent-color: var(--accentColor);
  background-color: black;
  color: white;
  font-size: var(--fontSize);
  height: 100%;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

body {
  -webkit-text-size-adjust: none;
  align-items: center;
  animation: fadeUpAnim 0.5s ease-in-out 0.25s forwards;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  overflow: auto;
  text-size-adjust: none;
}

/* anchor */
a {
  border-radius: 0;
  cursor: pointer;
  margin: 5px;
  padding: 1px 5px 1px 0;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  transition-duration: 0.25s;
  transition-property: box-shadow;
  transition-timing-function: ease-in-out;
}

a:hover {
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(100, 100, 100, 0.5);
}

.aNoDecoration {
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.aNoDecoration:hover {
  box-shadow: none;
}

/* for <a> links that point to a function rather than an href */
.underline {
  text-decoration: underline;
}

h1 {
  font-family: var(--fontFamilyExtraLight);
  font-weight: 600;
  margin-top: 0rem;
}

h2 {
  font-family: var(--fontFamilyLight);
  font-weight: 400;
  margin-top: 2rem;
}

h3 {
  font-family: var(--fontFamilyExtraLight);
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 1rem;
}

h4 {
  font-family: var(--fontFamilyLight);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 1rem;
}

pre {
  display: inline-block;
}

table {
  border-radius: var(--borderRadius);
  border-spacing: 0; /*table can't use border-collapse border-radius together*/
  border: var(--border);
}

td, th {
  border: none;
  padding: 0.25rem 1rem 0.25rem 1rem;
  text-align: left;
  vertical-align: top;
}

tr {border-collapse: collapse;}
tr:nth-child(even) {background-color: rgb(240, 240, 240);}

ul {margin-top: 0.5rem;}
li {line-height: 2rem;}

.blueBox, .whiteBox {
  border-radius: var(--borderRadius);
  display: block;
  font-size: var(--fontSizeSmall);
  padding: 1rem;
  width: fit-content;
}

.blueBox {
  background: var(--extraLightBlue);
  border: solid 1px var(--mediumBlue);
}

.whiteBox {
  background: white;
  border: var(--border);
}

.codeBox, .resultsBox {
  background: var(--grey250);
  border-radius: var(--borderRadius);
  border: var(--border);
  display: block;
  font-family: Courier New, monospace;
  font-size: 0.9rem;
  overflow: auto;
  padding: 0 1rem 0 1rem;
  unicode-bidi: embed;
  white-space: pre;
  width: 100%;
}

.resultsBox {
  background: white;
  border: none;
  padding: 0 1rem 0 0;
}

.middle {
  background: white;
  border-radius: var(--bigBorderRadius);
  margin: 0 0 2rem 0;
  max-width: 800px;
  overflow: auto;
  padding: 1rem;
  /*
  scroll-padding-top: 1em;
  scrollbar-gutter: stable both-edges;
  */
  width: 100%;
}

.frostedGlass {
  backdrop-filter: blur(10px);
  background-color: rgb(255 255 255 / 10%);
}

/* used on the landing page */
.bigTitle {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--fontFamilyExtraLight);
  font-size: 3rem;
  gap: 0.5rem;
  justify-content: flex-start;
  margin: 1rem 0 3rem 0;
  text-align: center;
  width: 100%;
}

.title {
  font-family: var(--fontFamilyLight);
  font-size: 1.75rem;
}

/* used on the landing page */
.bigLogoImg {
  aspect-ratio: 1/1;
  height: 100px;
}

.titleContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.titleLeft {
  display: flex;
  flex-grow: 0;
  gap: 1rem;
  min-width: 140px;
}

.titleMiddle {
  align-items: center;
  display:flex;
  flex-direction: row;
  flex-grow: 1;
  font-family: var(--fontFamilyExtraLight);
  font-size: min(2.5rem, 4vw);
  font-weight: 400;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.titleRight {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
  min-width: 140px;
}

.titleLogo {
  height: 3rem;
  transition-duration: 0.25s;
  transition-property: filter;
  transition-timing-function: ease-in-out;
}

.titleLogo:hover {filter: drop-shadow(3px 3px 2px rgb(150, 150, 150));}

.titleText {
  font-family: var(--fontFamilyExtraLight);
  font-size: min(2.5rem, 6vw);
}

.titleDate {
  font-size: 0.85rem;
  text-align: right;
}

.titleQuoteNarrow,  /* shown on narrow devices */
.titleQuoteWide {  /* shown on wide devices */
  font-family: var(--fontFamily);
  font-size: var(--fontSizeVerySmall);
  margin-top: -0.25rem;
}

.titleQuoteNarrow {display: none;} /* don't show on narrow devices */

.centeredQuote {
  color: rgb(110, 110, 110);
  font-size: 1.25rem;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.version {
  display: inline-block;
  font-size: var(--fontSizeSmall);
}

.highlight {
  background: yellow;
  color: black;
  display: inline-block;
  font-weight: bold;
  padding: 0 5px 0 5px;
}

.noPad {padding: 0;}

.smallFont {font-size: 0.85rem;}

button, .button, .bigBlueButton {
  background-color: var(--steelBlue);
  border-radius: var(--borderRadius);
  border: none;
  box-shadow: var(--boxShadow);
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 5px;
  text-decoration: none;
  transition-duration: 0.25s;
  transition-property: background, box-shadow;
  transition-timing-function: ease-in-out;
  user-select: none;
}

.bigBlueButton {
  background-color: var(--steelBlue);
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px;
}

button:hover, .button:hover, .bigBlueButton:hover {
  background-color: var(--blue);
  box-shadow: var(--boxShadowHover);
}

.buttonDisabled {
  background-color: #cccccc !important;
  border: 1px solid #999999 !important;
  box-shadow: none  !important;
  color: #666666  !important;
  pointer-events: none  !important;
  user-select: none  !important;
}

.smallNote {
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.itemListH,
.itemListV {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
//  gap: 0.5rem;
  justify-content: space-between;
}

.itemListV {
  flex-direction: column;
}

.itemContainerCentered,
.itemContainer {
  border-radius: var(--borderRadius);
  border: var(--borderTransparent);
  color: black;
  display: flex;
  column-gap: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition-duration: 0.25s;
  transition-property: border, box-shadow;
  transition-timing-function: ease-in-out;
}

.itemContainerCentered {align-items: center;}

.itemContainerCentered:hover,
.itemContainer:hover {
  border: var(--border);
  box-shadow: var(--boxShadow);
}

.itemImageNB,
.itemImage {
  border-radius: var(--borderRadius);
  border: var(--border);
  flex-grow: 0;
  flex-shrink: 0;
  height: 64px;
  width: 64px;
}

.itemImageNB {border: none;}

.iconImage16,
.iconImage24,
.iconImage32 {
  align-self: center;
  border-radius: 3px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 32px;
  margin-bottom: -3px;
  margin-top: 3px;
}

.iconImage16 {height: 16px;}
.iconImage24 {height: 24px;}

.itemDescription {}

/* detect narrow */
@media screen and (max-width: 600px) {
  .titleQuoteNarrow {display: block;}
  .titleQuoteWide   {display: none;}
}

/* detect phone */
@media screen and (any-pointer: coarse) and (max-width: 900px) {
  .frostedGlass { /* backdrop-filter does not work on phone */
    backdrop-filter: none;
    background-color: rgba(255, 255, 255, 0.65);
  }
}

/* detect phone in portrait */
@media screen and (any-pointer: coarse) and (orientation: portrait)
    and (max-width: 400px) {
  .bigTitle {font-size: 1.25rem;}
  .bigLogoImg {height: 64px;}
  .titleLeft, .titleRight {min-width: 60px;}
  .titleMiddle {font-size: 1.6rem;}
  .titleDate {font-size: 0.7rem;}
}

/* detect phone in landscape */
@media screen and (any-pointer: coarse) and (orientation: landscape)
    and (max-width: 900px) {
}
